<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id='links' class="navbar-brand" href="/">Musicians Meet-Up</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a id='links' href="/sign_up">Sign-Up</a></li>
			<li><a id='links' href="/">Home</a></li>	
		</ul>
	</div>
</nav>

<div class='container'>
	<div class="page-header motto">
	  <h1>A Place for <span class='musician'>Musicians</span> made by a <span class='musician'>Musician</span></h1>
	</div>

	<div class='row'>
		<div class='col-md-6'>
			<div class="well">
				<p id='bio'>Hi my name is Chris, a drummer turned web-developer that created this app. I have always wanted a place where musicians can collabrote and meet online. Frustrated with the limited options available I decided to create it on my own. I hope you enjoy being part of this community. I am happy to have you!</p>
			</div>
		</div>

		<div class='col-md-6'>
			<img id='me' src="/assets/chris_pic.jpg">
		</div>
	</div>
</div>