<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Musicians Meet-Up</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Sign-Up</a></li>
			<li><a href="/">Home</a></li>	
		</ul>
	</div>
</nav>

<div class='container'>
	<div class="page-header">
	  <h1>A Place for Musicians made by a musician</h1>
	</div>

	<div class='row'>
		<div class='col-md-6'>
			<div class="well">
				<p>Hi my name is Chris. I am a drummer turned web-developer. I have always wanted a place where musicians can collabrote and meet online. Frustrated with the limited options out there I decided to create it for myself. I hope you enjoy being part of this community. I am happy to have you!</p>
			</div>
		</div>

		<div class='col-md-6'>
			<div class = 'well'>
				<img src="./assets/chris_pic.jpg">
			</div>
		</div>
	</div>
</div>

