<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS & JS -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-96x96.png">
<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles.css">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Musicians Meet-Up</title>
</head>
<body>
	<% include alerts %>
	<%- body %>	

	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src='/modify.js'></script>
</body>
</html>