<div class="container">
	<div class='page-header'>
		<h2><span class='white'>Say Hi To:</span> <span class='blue'><%=user.firstName + ' ' + user.lastName%></span></h2> 
	</div>

	<form action="" method="POST" role="form">

		<div class="form-group">
			<label for=""><span class='blue'>Title</span></label>
			<input type="text" class="form-control" id="messageBody" placeholder="title?" name='hiTitle'>
		</div>
		<div class="form-group">
			<label for=""><span class='blue'>Message</span></label>
			<textarea type="text" class="form-control" id="messageBody" placeholder="what would you like to say?" name='hiBody'></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Send</button>
	</form>
	<a id='home' href="/community" type='button' class='btn btn-primary white'>Back</a>
</div>