<div class="container">
	<div class='page-header'>
		<h2><span class='white'>Reply To:</span> <span class='blue'><%=post.user.firstName + ' ' + post.user.lastName%></span></h2>
		<h3><span class='white'>Regarding:</span> <span class='blue'><%=post.title%></span></h3> 
	</div>

	<form action="" method="POST" role="form">
		<div class="form-group">
			<label for=""><span class='blue'>Message</span></label>
			<textarea type="text" class="form-control" id="messageBody" placeholder="Input field" name='messageBody'></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Send</button>
	</form>
	<a id='home' href="/classifieds" type='button' class='btn btn-primary white'>Back</a>
</div>