<div class="container">

<form action="" method="POST" role="form">
	<legend>Please Create a Profile!</legend>

	<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>

	

	<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>