<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id='links' class="navbar-brand" href="/">Musicians Meet-Up</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a id='links' href="/community">Community</a></li>
			<li><a id='links' href="/classifieds">Classifieds</a></li>
			<li><a id='links' href="/">Deals</a></li>
			<li><a id='links' href="/logout">Logout</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<h1><%= user.firstName + ' ' + user.lastName %></h1>
</div>